#package
languages/
upgrade/
uploads/

#plugins
plugins/*.php
plugins/akismet
plugins/buddypress
plugins/theme-my-login
plugins/buddypress-translations
plugins/contact-form-7
plugins/gianism

#themes
themes/*.php
themes/biz-vektor
themes/twentythirteen
themes/twentytwelve
themes/twentyfourteen
themes/bp-default

/index.php
