#package
languages/
upgrade/

#plugins
plugins/*.php
plugins/akismet
plugins/buddypress
plugins/buddypress-translations
plugins/theme-my-login

#themes
themes/*.php
themes/biz-vektor
themes/twentythirteen
themes/twentytwelve
themes/twentyfourteen
themes/bp-default

/index.php
