#package
languages/
upgrade/
uploads/
debug.txt

#plugins
plugins/*.php
plugins/adminer
plugins/akismet
plugins/backwpup
plugins/buddypress
plugins/theme-my-login
plugins/buddypress-translations
plugins/contact-form-7
plugins/json-api
plugins/taxonomy-terms-order

#themes
themes/*.php
themes/biz-vektor
themes/twentythirteen
themes/twentytwelve
themes/twentyfourteen
themes/twentyfifteen
themes/bp-default
themes/SliderResponsiveTheme
themes/SliderResponsiveTheme-custom
/index.php
