<doctype html>
	<html>
<head>
	<meta name="viewport" content="width=device-width" >
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
	
<body>
<!--body-->
	
<!--ヘッダー------------------->
<div id="header_menu">
	<ul id="dropmenu" class="dropmenu">
		<li id="logo">
			<a title="ホーム"><img id="logo_icon" src="image/logo_w.png" alt="ヘッダー"></a>
		</li>
		<li id="menu_button"><a id="menu_button_a"><img id="home_icon" src="./image/menu_w.png" alt="ホーム"></a>
			<ul>
			<li>予約確認<br><br>
				<span id="check">あなたの<br>予約している本は
					<img src="image/search_icon3.png">○○です<br></span></li>
			<li><a href="">予約キャンセル</a></li>
			<li><a href="">検索</a></li>
			<li><a href="">商品一覧</a></li>
			</ul>
		</li>
	</ul>
</div>
<!--ヘッダー------------------->
<!-------個別商品情報-------->	
<div class="fake">
	<div class="bookinfo">
		<div class="booktitle">タイトル名</div>
		<div class="bookauthor">著者名</div>
		<img src="" width="50%" height="100px"alt="本の写真">

		<table class="booksubinfo"
			<tr>
			<th>カテゴリー</th><th>ナゴヤ大学/情報文化学部</th>
			</tr>
					<tr>
					<th>ポイント数</th><th>1pt</th>
					</tr>
							<tr>
							<th>元値</th><th>20000</th>
							</tr>
									<tr>
									<th></th><th>残り三冊</th>
									</tr>
		</table>
	</div>
</div>
<div class="bookbutton">
	

	
<div class="plus">
<P>補足情報</P>	
</div>	
	
	
<!--フッター------------------->
<div id="footer_menu">
	<div id="footer_left">
		<div>テクスチェンジについて</div>
		<hr>
		<ul>
			<li>利用規約</li>
			<li>お問い合わせ</li>
			<li>運営団体</li>
		</ul>
	</div>
	<div id="footer_right">
		<img id="footer_logo_icon" src="image/logo_w.png" alt="ヘッダー">
	</div>
</div>
<!--フッター------------------->
	
<!--body-->
</body>
</html>